{% extends "blogpage/base.html" %}
{% load static %}

{% block title %}Task List{% endblock %}

{% block blogpage_content %}
<div>
    {% if slug %}
    <h2>Task Category: {{ slug }}</h2>
    {% endif %}
    <ul>
    {% for task in tasks %}
        <li>{{ task.name }} - {{ task.due_date|date:"Y-m-d" }}</li>
    {% endfor %}
</ul>
<div>
    <h2>Should I do this?</h2>
    <p>{{ data.reason }}</p>
    <h2>Joke of the day</h2>
    <p>{{ data.joke.joke }}</p>
</div>
</div>

{% endblock blogpage_content %}