{% extends "blogpage/base.html" %}
{% load static %}

{% block title %}Task List{% endblock %}

{% block blogpage_content %} 
<style>
    ul {
        color: red;
    }
</style>
<ul>
    {% for task in tasks %}
        <li>{{ task }}</li>
    {% endfor %}
</ul>
<div>
    <h2>Should I do this?</h2>
    <p>{{ data.reason }}</p>
    <h2>Quote of the Day</h2>
    <p>{{ data.kanye_quote.quote }}</p>
    <h2>What to email:</h2>
    <p>{{ data.insult.insult }}</p>
    <h2>Joke of the day</h2>
    <p>{{ data.joke.joke }}</p>
</div>

{% endblock blogpage_content %}